*{ margin: 0; padding: 0; list-style: none; text-decoration: none;}
img{width: 100; height: auto;}

.top-menu{
    border-bottom: 1px solid black;
    overflow: hidden;
}

/* 상단메뉴 전체 좌측정렬 */
.top-menu div{float: left;}

.top-menu .click-menu{
    overflow: hidden;
}

.top-menu .click-menu li {
    float: left;
}